* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  background-color: whitesmoke;
  cursor: default;
}

.navbar {
  display: flex;
  background: black;
  color: white;
  padding: 15px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

.brand {
  margin: 0;
}

.brand img {
  width: 200px;

}

.navbar-list {
  display: flex;
  list-style: none;
  flex-direction: row;
  margin-left: auto;
}

.nav-link {
  text-decoration: none;
  color: white;
  padding: 15px;
  font-weight: 100;
  cursor: pointer;
}

.hero {
  position: relative;
  background-image: linear-gradient(to right bottom,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.7)),
    url('./hero.jpg');
  width: 100%;
  background-repeat: no-repeat;
  height: 95vh;
  background-position: top;
  background-size: cover;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-primary {
  color: white;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 50px;

}

.primary-main {
  display: block;
  font-size: 40px;
  font-weight: 200;
  letter-spacing: 15px;
  animation: MoveInLeft 1s ease-out;

}

.primary-sub {
  display: block;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 13px;
  animation: MoveInRight 1s ease-out;
}

.icon img {
  height: 70px;
  margin: 0 10px;
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards;
}

@keyframes MoveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(30px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes MoveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-30px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

#about {
  padding: 40px;
  margin-top: 40px;
  margin-bottom: 50px;
}

.header-1 {
  padding: 5px;
  /* margin-bottom:20px; */
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 5px;

}

.about-section {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: .04em;
}

.text {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: .4em;
}

.text>div:nth-child(1) {
  justify-self: center;
  align-self: center;
}

.about-text {
  justify-self: center;
  align-self: center;
  font-size: 20px;
  letter-spacing: 1px;
  padding: 2px;
}

.bio {
  justify-self: start;
  padding: 50px 10px;
}

.img-profile {
  height: 300px;
  width: 300px;
  border-radius: 100%;
  justify-self: center;
  align-self: center;
}

.skill-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  margin: 30px;
  grid-auto-rows: minmax(200px, auto);
  align-content: center;
  grid-gap: 3em;
  transition: .3s ease-in all;
}

.skill-section>div {
  background: #fff;
  text-align: center;
  padding: 40px;
  -webkit-box-shadow: -4px -1px 5px 0px #a5a5a5;
  box-shadow: -4px -1px 5px 0px #a5a5a5;
}

.header-3 {
  text-align: center;
  margin-bottom: 50px;
}

.text-paragraph {
  padding: 10px;
  margin-bottom: 40px;
}

.img-skill {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  padding: 30px;
}

/*  */

@media (max-width: 786px) {
  .about-section {
    display: grid;
    grid-template-columns: 1fr;
  }

  .text {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 3em;
  }

  .text>div:nth-child(1) {
    justify-self: center;
    align-self: center;
  }

  .about-text {
    justify-self: center;
    align-self: center;
    font-size: 20px;
  }

  .navbar {
    display: flex;
  }

  .navbar-list {
    display: none;
  }

  .primary-main {
    display: block;
    font-size: 25px;
    font-weight: 200;
    letter-spacing: 10px;
    animation: MoveInLeft 1s ease-out;

  }

  .primary-sub {
    display: block;
    font-size: 15px;
    font-weight: 200;
    letter-spacing: 10px;
    animation: MoveInRight 1s ease-out;
  }

  .icon img {
    height: 40px;
    margin: 0 10px;
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
  }
}


footer {
  background-color: black;
  width: 100%;
  color: white;
  padding: 20px;
  text-align: center;
  letter-spacing: 2px;
  font-size: .8em;
  font-weight: bold;
}

.footer-span {
  color: brown;
}