@import "~bootstrap/scss/bootstrap";
$button-color: #0000e6;

.brand {
    font-size: 1.5em;

    a {
        text-decoration: none;
    }
}

.hide-sidebar {
    display: none;
}

.show-sidebar {
    display: block;
}

.landing-svg {
    height: 100vh;
    width: 100%;
}

.main-img {
    background-image: url(./assets/img/aimes2.jpeg);
    min-height: 300px;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 1em;
    height: auto;
    background-position: center;
    transition: all 0.5s;
    filter: grayscale(100%);
    cursor: pointer;
}

.rounded-img {
    background-image: url(./assets/img/aimes2.jpeg);
    height: 300px;
    border-radius: 50%;
    margin: 10px auto;
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(100%);
    cursor: pointer;
    width: 300px;
}

.rounded-img:hover {
    filter: grayscale(0);
}

.main-img:hover {
    filter: grayscale(0);
    transform: rotate(-1deg) scale(1.1);
}

.circle-img {
    min-height: 300px;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
}

.about-section {
    // font-variant: small-caps;
    font-weight: 600;
}

.about-content {
    display: grid;
    grid-template-columns: 25% 70%;
    grid-gap: 3em;
    text-align: center;
}

// Portfolio Section
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 2rem;
}

.grid>div {
    padding: 1.5rem;
    border-radius: 1rem;
}

.form-control:focus {
    outline: none;
    box-shadow: none;
}

.contact-form {
    width: 100%;
}

.donate {
    cursor: pointer;
}

.scroll {
    width: 2.5em;
    height: auto;
    cursor: pointer;
    fill: $button-color;
}

.contact-button {
    background-color: $button-color;
}

@media screen and (max-width: 989px) {
    .about-content {
        display: flex;
    }

    .about-content>div:nth-child(2) {
        padding: 10px !important;

    }
}

@media screen and (max-width: 465px) {
    .landing-svg {
        height: 50vh;
        width: 100%;
    }
}

@media screen and (max-width: 780px) {
    .nav-list {
        display: none !important;
    }

    .contact-form {
        width: 100%;

        h4 {
            font-size: 1em;
            text-align: center;
        }
    }
}